/* html , body */
html{
    height: 100%;
    font-family: 'Open Sans', sans-serif; 
    scroll-behavior: smooth; 

}
body{
  margin: 0px;
  height: 100%;
  
}
/* 공통 ul */
body ul{
    display: flex;
    align-items: center;
    list-style-type : none;
    padding: 0px;
}
/* a태그 밑줄x, 스크롤바 삭제 */
a:link { text-decoration: none;}
::-webkit-scrollbar{ display:none; }


/* header nav bar 항상 고정 */
.navbar{
  width: calc(100% - 30px); /* width를 100%로 하면 양쪽 padding값 만큼 튀어나옴(position: fixed 때문)*/
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 15px;
  background-color: #8c8d8f;
}
.navbar__wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1092px;
}
/* nav 왼쪽 (이미지, 닉네임) */
.navbar__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__imgWrap{
    display: flex;
    align-items: center;
}
.navbar__imgWrap__img{
    height: 70px;
    /* width: 80px; */
}
.navbar__imgWrap__a{
    font-size: 22px;
    color: white;
}
.navbar__menuBtn{
    display: none;
}

/* nav 오른쪽 (메뉴) */
/* .navbar__rigth{
    display: flex;
    align-items: center;
    list-style-type : none;
    padding: 0px;
} */
.navbar__btn{
    margin: 0 10px;
    padding: 7px;
    font-size: 16px;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
}
nav div ul a:visited {
    color: white;
}

/* main */
main{
    /* height: calc(100% - 80px); 여기서 -80px은 header nav bar의 height + 위,아래 padding값임 */
    /* padding-top: 80px; */
    overflow-y: scroll;
}
/* 공통 타이틀 */
main .title{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* home */
.home{
    padding: 100px 20px 20px 20px;
    background-color: #8c8d8f;
}
.home__wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;   /* about은 전체를 가운대 정렬함 */
    max-width: 1150px;
}
.home__img{
    margin: 20px 0px;
    width: 360px;
}
.home__title{
    font-size: 46px;
    color: white;
    text-align: center;
    margin: 10px 0px;
}
.home__title__sub{
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 10px 0px;
}
.home__a{
    /* margin: 20px 0px; */
    padding: 10px;
    font-size: 22px;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* about */
.about{
    padding: 100px 20px 20px 20px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin: 0px auto;   /* about은 전체를 가운대 정렬함 */
    max-width: 1150px;
}

.about__contents{
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}

.about__mySkills__wrap{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}
.about__mySkill{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__icon{
    color: #69a0c7;
    font-size: 80px;
    border: #69a0c7 solid 2px ;
    border-radius: 50%;
    padding: 50px;
}
.about__mySkill__title{
    margin: 10px 0px;
    font-size: 30px;
}
.about__mySkill__info{
    margin: 10px 0px;
    font-size: 18px;
}

.about__careers{
    border: #8c8d8f 1px solid;
    border-radius: 15px;
    /* width: 100%;  width 100% 주고 max-width를 주면 처음부터 최대 max-width를 기준으로 100%가 되고 화면이 줄어들면 반응형으로 줄어들게됨 */
    padding: 20px 20px 0px 20px;
}
.about__career__wrap{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.about__career__img{
    margin-right: 20px;
}

.about__career__infoWrap{
    display: flex;
    flex-direction: column;
}

/* skills */
.skills{
    padding: 100px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff6cb;
}
.skills__contents{
    font-size: 18px;
    text-align: center;
    margin: 0px auto;
    max-width: 1092px;
}
.skills__wrap{
    color: white;
    margin: 40px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1092px;
}
.skills__skills{
    width: calc(60% - 40px);
    padding: 20px;
    background-color: #444444;
}
.skills__itemsWrap{
    margin-bottom: 20px;
}
.skills__label{
    display: flex;
    justify-content: space-between;
}
.skills__title{
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}
.skills__name{
    font-size: 16px;
    margin-bottom: 5px;
}
.skills__percent{
    font-size: 16px;
    margin-bottom: 5px;
}
.skills__border--yellow{
    width: 90%;
    border: solid 1px #feac3e;
    background-color: #feac3e;
}
.skills__border--white{
    width: 100%;
    border: solid 1px #565656;
    background-color: #565656;
}
.skills__tools{
    width:40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skills__tools--tool{
    width: calc(100% - 40px);
    height: 50%;
    padding: 20px;
    background-color: #565656;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skills__tools--etc{
    width: calc(100% - 40px);
    height: 50%;
    padding: 20px;
    background-color: #706f6d;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* project  */
.project{
    padding: 100px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;   
    max-width: 1092px;
}

.project__btn_list{
    justify-content: center;
}
.project__btn_item{
    cursor: pointer;
    font-size: 18px;
    margin : 0px 10px;
    border: 1px black solid;
    padding: 10px 20px;
    min-width: 60px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}
.project__btn_badge{
    background-color: #feac3e;
    border-radius: 50%;
    padding: 5px 10px;
    height: 100%;
}
.project__list{
    word-break: normal;
    display: inline-block;
    width: 100%;
    margin: 25px 0px;
    height: 100%;
}
.project_item{
    display: inline-block;
    width: 23%;
    border: 1px solid black;
    margin: 5px;
    padding-bottom: 20%; /* 이걸 주면 정사각형 모양으로 바꿀 수 있음*/
}


/* testimonial  */
.testimonial{
    padding: 100px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* contact  */
.contact{
    padding: 100px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #8c8d8f; 
}
.contact__title{
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}
.contact__email{
    color: white;
    font-size: 26px;
    font-weight: bold;
    margin: 0 0 10px 0;
    margin-bottom: 20px;
}
.contact__icon__wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}       
.contact__icon{
    color: white;
    font-size: 48px;
    margin: 10px;
}
.contact__thank{
    color: white;
    font-size: 26px;
    margin: 0 0 10px 0;
    margin-bottom: 20px;
}



/* 미디어 쿼리 */
@media screen and (max-width:720px){
    /* nav bar */
    .navbar{

    }
    .navbar--toggle{
        height: 350px;
    }
    .navbar__wrap{
        flex-direction: column;
    }
    .navbar__rigth{
        flex-direction: column;
        /* 버튼 클릭했을 때 아래 속성이 나와줘야함 js 사용해야함*/
        display: none;
    }
    .navbar__rigth--toggle{
        display: flex;
    }
    .navbar__menuBtn{
        display: flex;
        cursor: pointer;
        font-size: 30px;
        color: white;
    }
    .navbar__btn{
        margin: 5px;
        border: none;
        width: 100%;
        text-align: center;
    }

    /* about */
    .about__mySkill{
        margin-bottom: 10px;
    }
    .about__mySkills__wrap{
        margin : 20px 0px;
        flex-direction:column;
    }
    .about__career__wrap{
        flex-direction:column;
        text-align: center;
    }
    .about__career__img{
        margin: 0;
    }

    /* contact */
    .contact{
        text-align: center;
    }
}
