/* html , body */
html{
    height: 100%;
    font-family: 'Open Sans', sans-serif; 
}
body{
  margin: 0px;
  height: 100%;
}
/* a태그 밑줄x, 스크롤바 삭제 */
a:link { text-decoration: none;}
::-webkit-scrollbar{ display:none; }


/* header nav bar 항상 고정 */
nav{
  width: calc(100% - 30px); /* width를 100%로 하면 양쪽 padding값 만큼 튀어나옴(position: fixed 때문)*/
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 15px;
  background-color: #8c8d8f;
}
/* nav 왼쪽 (이미지, 닉네임) */
nav div {
    display: flex;
    align-items: center;
}
nav div img{
    height: 70px;
    /* width: 80px; */
}
nav div span{
    font-size: 22px;
    color: white;
}

/* nav 오른쪽 (메뉴) */
nav ul{
    display: flex;
    align-items: center;
    list-style-type : none;
    padding: 0px;
}
nav ul a{
    margin: 0 10px;
    padding: 7px;
    font-size: 16px;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
}
nav ul a:visited {
    color: white;
}

/* main */
main{
    /* height: calc(100% - 80px); 여기서 -80px은 header nav bar의 height + 위,아래 padding값임 */
    /* padding-top: 80px; */
    overflow-y: scroll;
}
/* 공통 타이틀 */
main .title{
    font-size: 46px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* home */
.home{
    padding: 100px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #8c8d8f;
}
.home__img{
    margin: 20px 0px;
    width: 360px;
}
.home__title{
    font-size: 46px;
    color: white;
    text-align: center;
    margin: 10px 0px;
}
.home__title__sub{
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 10px 0px;
}
.home__a{
    /* margin: 20px 0px; */
    padding: 10px;
    font-size: 22px;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* about */
.about{
    padding: 100px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about__contents{
    font-size: 18px;
    text-align: center;
    margin: 0px;
}

/* skills */
.skills{
    padding: 100px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff6cb;
}
.skills__contents{
    font-size: 18px;
    text-align: center;
    margin: 0px auto;
    max-width: 1092px;
}
.skills__wrap{
    color: white;
    margin: 40px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1092px;
}
.skills__level__skills{
    width: calc(60% - 40px);
    padding: 20px;
    background-color: #444444;
}
.skills__level__itemsWrap{
    margin-bottom: 20px;
}
.skills__level__label{
    display: flex;
    justify-content: space-between;
}
.skills__level__title{
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}
.skills__level__name{
    font-size: 16px;
}
.skills__level__percent{
    font-size: 16px;
}
.skills__level__border--yellow{
    width: 90%;
    border: solid 1px #feac3e;
    background-color: #feac3e;
}
.skills__level__border--white{
    width: 100%;
    border: solid 1px #565656;
    background-color: #565656;
}
.skills__tools{
    width:40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skills__tools--tool{
    width: calc(100% - 40px);
    height: 50%;
    padding: 20px;
    background-color: #565656;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skills__tools--etc{
    width: calc(100% - 40px);
    height: 50%;
    padding: 20px;
    background-color: #706f6d;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* main --> project  */
.project{
    padding: 100px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* main --> testimonial  */
.testimonial{
    padding: 100px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* main --> contact  */
.contact{
    padding: 100px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;    
}


main section{
    min-height: 700px;
}

